@import 'bootstrap';
@import 'global';
@import 'layout';
@import 'normalize';
@import 'typography';
@import 'variables';
@import 'pages/about';
@import 'pages/finder';

#pages {
  > * {
    display: none;
  }

  > .active {
    display: flex;
  }
}
/* body */
body {
  font-family: $fontMain;
}
/* header */
.header {
  height: 80vh;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.header-inner {
  width: 100%;
  height: 30%;
  background: linear-gradient(transparent, black);
}

.header .title-wrapper {
  h1 {
    letter-spacing: 1rem;
  }

  p {
    letter-spacing: 0.25rem;
  }
}

.intro {
  height: 140vh;
}

.finder-wrapper {
  .box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
  }

  .col-lg-2,
  .col-md-3,
  .col-xs-6 {
    margin-top: 24px !important;
  }
}
// @media (max-width: 580px) {
//   .card {
//     background-color: black;
//   }
//   .cards-wrapper {
//     top: 50%;
//     .card-body-right {
//       transform: translateX(0%);
//       white-space: normal;
//     }
//   }
// }
.finder-wrapper {
  width: 100vw;
}

.grid .col {
  padding: 0;
  height: 50px;
  width: 50px;
  background-color: red;
}
